web/src/wsdl/localhost_9128/ControllerWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. -->
<!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.culturarte/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.culturarte/" name="ControllerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.culturarte/" schemaLocation="ControllerWS.xsd_1.xsd"/>
</xsd:schema>
</types>
<message name="addUsuario">
<part name="parameters" element="tns:addUsuario"/>
</message>
<message name="addUsuarioResponse">
<part name="parameters" element="tns:addUsuarioResponse"/>
</message>
<message name="NickRepetidoException">
<part name="fault" element="tns:NickRepetidoException"/>
</message>
<message name="EmailRepetidoException">
<part name="fault" element="tns:EmailRepetidoException"/>
</message>
<message name="BadPasswordException">
<part name="fault" element="tns:BadPasswordException"/>
</message>
<message name="listarColaboradores">
<part name="parameters" element="tns:listarColaboradores"/>
</message>
<message name="listarColaboradoresResponse">
<part name="parameters" element="tns:listarColaboradoresResponse"/>
</message>
<message name="obtenerDTColaborador">
<part name="parameters" element="tns:obtenerDTColaborador"/>
</message>
<message name="obtenerDTColaboradorResponse">
<part name="parameters" element="tns:obtenerDTColaboradorResponse"/>
</message>
<message name="obtenerPropuestasColaboradas">
<part name="parameters" element="tns:obtenerPropuestasColaboradas"/>
</message>
<message name="obtenerPropuestasColaboradasResponse">
<part name="parameters" element="tns:obtenerPropuestasColaboradasResponse"/>
</message>
<message name="listarProponentes">
<part name="parameters" element="tns:listarProponentes"/>
</message>
<message name="listarProponentesResponse">
<part name="parameters" element="tns:listarProponentesResponse"/>
</message>
<message name="obtenerDTProponente">
<part name="parameters" element="tns:obtenerDTProponente"/>
</message>
<message name="obtenerDTProponenteResponse">
<part name="parameters" element="tns:obtenerDTProponenteResponse"/>
</message>
<message name="listarColaboracionesColaborador">
<part name="parameters" element="tns:listarColaboracionesColaborador"/>
</message>
<message name="listarColaboracionesColaboradorResponse">
<part name="parameters" element="tns:listarColaboracionesColaboradorResponse"/>
</message>
<message name="listarUsuarios">
<part name="parameters" element="tns:listarUsuarios"/>
</message>
<message name="listarUsuariosResponse">
<part name="parameters" element="tns:listarUsuariosResponse"/>
</message>
<message name="seguirUsuario">
<part name="parameters" element="tns:seguirUsuario"/>
</message>
<message name="seguirUsuarioResponse">
<part name="parameters" element="tns:seguirUsuarioResponse"/>
</message>
<message name="dejarDeSeguirUsuario">
<part name="parameters" element="tns:dejarDeSeguirUsuario"/>
</message>
<message name="dejarDeSeguirUsuarioResponse">
<part name="parameters" element="tns:dejarDeSeguirUsuarioResponse"/>
</message>
<message name="listaPropuestasUsu">
<part name="parameters" element="tns:listaPropuestasUsu"/>
</message>
<message name="listaPropuestasUsuResponse">
<part name="parameters" element="tns:listaPropuestasUsuResponse"/>
</message>
<message name="listarUsuariosSeguir">
<part name="parameters" element="tns:listarUsuariosSeguir"/>
</message>
<message name="listarUsuariosSeguirResponse">
<part name="parameters" element="tns:listarUsuariosSeguirResponse"/>
</message>
<message name="listarUsuariosSiguiendo">
<part name="parameters" element="tns:listarUsuariosSiguiendo"/>
</message>
<message name="listarUsuariosSiguiendoResponse">
<part name="parameters" element="tns:listarUsuariosSiguiendoResponse"/>
</message>
<message name="ObtenerSeguidores">
<part name="parameters" element="tns:ObtenerSeguidores"/>
</message>
<message name="ObtenerSeguidoresResponse">
<part name="parameters" element="tns:ObtenerSeguidoresResponse"/>
</message>
<message name="obtenerUsuariosPorRanking">
<part name="parameters" element="tns:obtenerUsuariosPorRanking"/>
</message>
<message name="obtenerUsuariosPorRankingResponse">
<part name="parameters" element="tns:obtenerUsuariosPorRankingResponse"/>
</message>
<message name="bajaProponente">
<part name="parameters" element="tns:bajaProponente"/>
</message>
<message name="bajaProponenteResponse">
<part name="parameters" element="tns:bajaProponenteResponse"/>
</message>
<message name="listaProponentesDeBaja">
<part name="parameters" element="tns:listaProponentesDeBaja"/>
</message>
<message name="listaProponentesDeBajaResponse">
<part name="parameters" element="tns:listaProponentesDeBajaResponse"/>
</message>
<message name="obtenerDTProponenteDeBaja">
<part name="parameters" element="tns:obtenerDTProponenteDeBaja"/>
</message>
<message name="obtenerDTProponenteDeBajaResponse">
<part name="parameters" element="tns:obtenerDTProponenteDeBajaResponse"/>
</message>
<message name="altaProponente">
<part name="parameters" element="tns:altaProponente"/>
</message>
<message name="altaProponenteResponse">
<part name="parameters" element="tns:altaProponenteResponse"/>
</message>
<message name="addCategoria">
<part name="parameters" element="tns:addCategoria"/>
</message>
<message name="addCategoriaResponse">
<part name="parameters" element="tns:addCategoriaResponse"/>
</message>
<message name="CategoriaDuplicadaException">
<part name="fault" element="tns:CategoriaDuplicadaException"/>
</message>
<message name="addPropuesta">
<part name="parameters" element="tns:addPropuesta"/>
</message>
<message name="addPropuestaResponse">
<part name="parameters" element="tns:addPropuestaResponse"/>
</message>
<message name="PropuestaDuplicadaException">
<part name="fault" element="tns:PropuestaDuplicadaException"/>
</message>
<message name="obtenerDTPropuesta">
<part name="parameters" element="tns:obtenerDTPropuesta"/>
</message>
<message name="obtenerDTPropuestaResponse">
<part name="parameters" element="tns:obtenerDTPropuestaResponse"/>
</message>
<message name="listarPropuestasEstado">
<part name="parameters" element="tns:listarPropuestasEstado"/>
</message>
<message name="listarPropuestasEstadoResponse">
<part name="parameters" element="tns:listarPropuestasEstadoResponse"/>
</message>
<message name="obtenerDineroRecaudado">
<part name="parameters" element="tns:obtenerDineroRecaudado"/>
</message>
<message name="obtenerDineroRecaudadoResponse">
<part name="parameters" element="tns:obtenerDineroRecaudadoResponse"/>
</message>
<message name="listarPropuestasFavoritas">
<part name="parameters" element="tns:listarPropuestasFavoritas"/>
</message>
<message name="listarPropuestasFavoritasResponse">
<part name="parameters" element="tns:listarPropuestasFavoritasResponse"/>
</message>
<message name="listarPropuestasEstadoUsu">
<part name="parameters" element="tns:listarPropuestasEstadoUsu"/>
</message>
<message name="listarPropuestasEstadoUsuResponse">
<part name="parameters" element="tns:listarPropuestasEstadoUsuResponse"/>
</message>
<message name="obtenerRecomendaciones">
<part name="parameters" element="tns:obtenerRecomendaciones"/>
</message>
<message name="obtenerRecomendacionesResponse">
<part name="parameters" element="tns:obtenerRecomendacionesResponse"/>
</message>
<message name="extenderFinanciacion">
<part name="parameters" element="tns:extenderFinanciacion"/>
</message>
<message name="extenderFinanciacionResponse">
<part name="parameters" element="tns:extenderFinanciacionResponse"/>
</message>
<message name="realizarColaboracion">
<part name="parameters" element="tns:realizarColaboracion"/>
</message>
<message name="realizarColaboracionResponse">
<part name="parameters" element="tns:realizarColaboracionResponse"/>
</message>
<message name="PropuestaYaColaboradaException">
<part name="fault" element="tns:PropuestaYaColaboradaException"/>
</message>
<message name="obtenerDTColaboracion">
<part name="parameters" element="tns:obtenerDTColaboracion"/>
</message>
<message name="obtenerDTColaboracionResponse">
<part name="parameters" element="tns:obtenerDTColaboracionResponse"/>
</message>
<message name="listarColaboraciones">
<part name="parameters" element="tns:listarColaboraciones"/>
</message>
<message name="listarColaboracionesResponse">
<part name="parameters" element="tns:listarColaboracionesResponse"/>
</message>
<message name="eliminarColaboracion">
<part name="parameters" element="tns:eliminarColaboracion"/>
</message>
<message name="eliminarColaboracionResponse">
<part name="parameters" element="tns:eliminarColaboracionResponse"/>
</message>
<message name="obtenerTipoUser">
<part name="parameters" element="tns:obtenerTipoUser"/>
</message>
<message name="obtenerTipoUserResponse">
<part name="parameters" element="tns:obtenerTipoUserResponse"/>
</message>
<message name="autenticarUsuario">
<part name="parameters" element="tns:autenticarUsuario"/>
</message>
<message name="autenticarUsuarioResponse">
<part name="parameters" element="tns:autenticarUsuarioResponse"/>
</message>
<message name="obtenerCategorias">
<part name="parameters" element="tns:obtenerCategorias"/>
</message>
<message name="obtenerCategoriasResponse">
<part name="parameters" element="tns:obtenerCategoriasResponse"/>
</message>
<message name="guardarImagen">
<part name="parameters" element="tns:guardarImagen"/>
</message>
<message name="guardarImagenResponse">
<part name="parameters" element="tns:guardarImagenResponse"/>
</message>
<message name="obtenerImagen">
<part name="parameters" element="tns:obtenerImagen"/>
</message>
<message name="obtenerImagenResponse">
<part name="parameters" element="tns:obtenerImagenResponse"/>
</message>
<message name="buscarPropuestasTDL">
<part name="parameters" element="tns:buscarPropuestasTDL"/>
</message>
<message name="buscarPropuestasTDLResponse">
<part name="parameters" element="tns:buscarPropuestasTDLResponse"/>
</message>
<message name="registrarAcceso">
<part name="parameters" element="tns:registrarAcceso"/>
</message>
<message name="registrarAccesoResponse">
<part name="parameters" element="tns:registrarAccesoResponse"/>
</message>
<message name="listDTRegistroAcceso">
<part name="parameters" element="tns:listDTRegistroAcceso"/>
</message>
<message name="listDTRegistroAccesoResponse">
<part name="parameters" element="tns:listDTRegistroAccesoResponse"/>
</message>
<message name="listDTColaboracionUser">
<part name="parameters" element="tns:listDTColaboracionUser"/>
</message>
<message name="listDTColaboracionUserResponse">
<part name="parameters" element="tns:listDTColaboracionUserResponse"/>
</message>
<message name="pagarColaboracion">
<part name="parameters" element="tns:pagarColaboracion"/>
</message>
<message name="pagarColaboracionResponse">
<part name="parameters" element="tns:pagarColaboracionResponse"/>
</message>
<message name="mandarMail">
<part name="parameters" element="tns:mandarMail"/>
</message>
<message name="mandarMailResponse">
<part name="parameters" element="tns:mandarMailResponse"/>
</message>
<message name="listarPropuestasProponentes">
<part name="parameters" element="tns:listarPropuestasProponentes"/>
</message>
<message name="listarPropuestasProponentesResponse">
<part name="parameters" element="tns:listarPropuestasProponentesResponse"/>
</message>
<message name="listarPropuestasProponentesIngresadas">
<part name="parameters" element="tns:listarPropuestasProponentesIngresadas"/>
</message>
<message name="listarPropuestasProponentesIngresadasResponse">
<part name="parameters" element="tns:listarPropuestasProponentesIngresadasResponse"/>
</message>
<message name="cambiarEstadoPropuestaIngresada">
<part name="parameters" element="tns:cambiarEstadoPropuestaIngresada"/>
</message>
<message name="cambiarEstadoPropuestaIngresadaResponse">
<part name="parameters" element="tns:cambiarEstadoPropuestaIngresadaResponse"/>
</message>
<message name="listarPropuestas">
<part name="parameters" element="tns:listarPropuestas"/>
</message>
<message name="listarPropuestasResponse">
<part name="parameters" element="tns:listarPropuestasResponse"/>
</message>
<message name="modPropuesta">
<part name="parameters" element="tns:modPropuesta"/>
</message>
<message name="modPropuestaResponse">
<part name="parameters" element="tns:modPropuestaResponse"/>
</message>
<message name="cambiarEstadoPropuesta">
<part name="parameters" element="tns:cambiarEstadoPropuesta"/>
</message>
<message name="cambiarEstadoPropuestaResponse">
<part name="parameters" element="tns:cambiarEstadoPropuestaResponse"/>
</message>
<message name="hacerComentario">
<part name="parameters" element="tns:hacerComentario"/>
</message>
<message name="hacerComentarioResponse">
<part name="parameters" element="tns:hacerComentarioResponse"/>
</message>
<message name="comentarioExiste">
<part name="parameters" element="tns:comentarioExiste"/>
</message>
<message name="comentarioExisteResponse">
<part name="parameters" element="tns:comentarioExisteResponse"/>
</message>
<message name="favoritarPropuesta">
<part name="parameters" element="tns:favoritarPropuesta"/>
</message>
<message name="favoritarPropuestaResponse">
<part name="parameters" element="tns:favoritarPropuestaResponse"/>
</message>
<message name="propuestaYaFavorita">
<part name="parameters" element="tns:propuestaYaFavorita"/>
</message>
<message name="propuestaYaFavoritaResponse">
<part name="parameters" element="tns:propuestaYaFavoritaResponse"/>
</message>
<message name="actualizarEstado">
<part name="parameters" element="tns:actualizarEstado"/>
</message>
<message name="actualizarEstadoResponse">
<part name="parameters" element="tns:actualizarEstadoResponse"/>
</message>
<message name="calcularPuntajePropuesta">
<part name="parameters" element="tns:calcularPuntajePropuesta"/>
</message>
<message name="calcularPuntajePropuestaResponse">
<part name="parameters" element="tns:calcularPuntajePropuestaResponse"/>
</message>
<message name="actualizarPuntajes">
<part name="parameters" element="tns:actualizarPuntajes"/>
</message>
<message name="actualizarPuntajesResponse">
<part name="parameters" element="tns:actualizarPuntajesResponse"/>
</message>
<message name="listaPropuestasUsuDeBaja">
<part name="parameters" element="tns:listaPropuestasUsuDeBaja"/>
</message>
<message name="listaPropuestasUsuDeBajaResponse">
<part name="parameters" element="tns:listaPropuestasUsuDeBajaResponse"/>
</message>
<message name="obtenerDTPropuestaDeBaja">
<part name="parameters" element="tns:obtenerDTPropuestaDeBaja"/>
</message>
<message name="obtenerDTPropuestaDeBajaResponse">
<part name="parameters" element="tns:obtenerDTPropuestaDeBajaResponse"/>
</message>
<message name="obtenerDineroRecaudadoDeBaja">
<part name="parameters" element="tns:obtenerDineroRecaudadoDeBaja"/>
</message>
<message name="obtenerDineroRecaudadoDeBajaResponse">
<part name="parameters" element="tns:obtenerDineroRecaudadoDeBajaResponse"/>
</message>
<message name="obtenerColaboradoresColaboracion">
<part name="parameters" element="tns:obtenerColaboradoresColaboracion"/>
</message>
<message name="obtenerColaboradoresColaboracionResponse">
<part name="parameters" element="tns:obtenerColaboradoresColaboracionResponse"/>
</message>
<message name="constanciaEmitida">
<part name="parameters" element="tns:constanciaEmitida"/>
</message>
<message name="constanciaEmitidaResponse">
<part name="parameters" element="tns:constanciaEmitidaResponse"/>
</message>
<message name="forzarGeneracionTarjeta">
<part name="parameters" element="tns:forzarGeneracionTarjeta"/>
</message>
<message name="forzarGeneracionTarjetaResponse">
<part name="parameters" element="tns:forzarGeneracionTarjetaResponse"/>
</message>
<message name="forzarGeneracionTransferencia">
<part name="parameters" element="tns:forzarGeneracionTransferencia"/>
</message>
<message name="forzarGeneracionTransferenciaResponse">
<part name="parameters" element="tns:forzarGeneracionTransferenciaResponse"/>
</message>
<message name="forzarGeneracionPaypal">
<part name="parameters" element="tns:forzarGeneracionPaypal"/>
</message>
<message name="forzarGeneracionPaypalResponse">
<part name="parameters" element="tns:forzarGeneracionPaypalResponse"/>
</message>
<portType name="ControllerWS">
<operation name="addUsuario">
<input wsam:Action="http://webservices.culturarte/ControllerWS/addUsuarioRequest" message="tns:addUsuario"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/addUsuarioResponse" message="tns:addUsuarioResponse"/>
<fault message="tns:NickRepetidoException" name="NickRepetidoException" wsam:Action="http://webservices.culturarte/ControllerWS/addUsuario/Fault/NickRepetidoException"/>
<fault message="tns:EmailRepetidoException" name="EmailRepetidoException" wsam:Action="http://webservices.culturarte/ControllerWS/addUsuario/Fault/EmailRepetidoException"/>
<fault message="tns:BadPasswordException" name="BadPasswordException" wsam:Action="http://webservices.culturarte/ControllerWS/addUsuario/Fault/BadPasswordException"/>
</operation>
<operation name="listarColaboradores">
<input wsam:Action="http://webservices.culturarte/ControllerWS/listarColaboradoresRequest" message="tns:listarColaboradores"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/listarColaboradoresResponse" message="tns:listarColaboradoresResponse"/>
</operation>
<operation name="obtenerDTColaborador">
<input wsam:Action="http://webservices.culturarte/ControllerWS/obtenerDTColaboradorRequest" message="tns:obtenerDTColaborador"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/obtenerDTColaboradorResponse" message="tns:obtenerDTColaboradorResponse"/>
</operation>
<operation name="obtenerPropuestasColaboradas">
<input wsam:Action="http://webservices.culturarte/ControllerWS/obtenerPropuestasColaboradasRequest" message="tns:obtenerPropuestasColaboradas"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/obtenerPropuestasColaboradasResponse" message="tns:obtenerPropuestasColaboradasResponse"/>
</operation>
<operation name="listarProponentes">
<input wsam:Action="http://webservices.culturarte/ControllerWS/listarProponentesRequest" message="tns:listarProponentes"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/listarProponentesResponse" message="tns:listarProponentesResponse"/>
</operation>
<operation name="obtenerDTProponente">
<input wsam:Action="http://webservices.culturarte/ControllerWS/obtenerDTProponenteRequest" message="tns:obtenerDTProponente"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/obtenerDTProponenteResponse" message="tns:obtenerDTProponenteResponse"/>
</operation>
<operation name="listarColaboracionesColaborador">
<input wsam:Action="http://webservices.culturarte/ControllerWS/listarColaboracionesColaboradorRequest" message="tns:listarColaboracionesColaborador"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/listarColaboracionesColaboradorResponse" message="tns:listarColaboracionesColaboradorResponse"/>
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://webservices.culturarte/ControllerWS/listarUsuariosRequest" message="tns:listarUsuarios"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/listarUsuariosResponse" message="tns:listarUsuariosResponse"/>
</operation>
<operation name="seguirUsuario">
<input wsam:Action="http://webservices.culturarte/ControllerWS/seguirUsuarioRequest" message="tns:seguirUsuario"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/seguirUsuarioResponse" message="tns:seguirUsuarioResponse"/>
</operation>
<operation name="dejarDeSeguirUsuario">
<input wsam:Action="http://webservices.culturarte/ControllerWS/dejarDeSeguirUsuarioRequest" message="tns:dejarDeSeguirUsuario"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/dejarDeSeguirUsuarioResponse" message="tns:dejarDeSeguirUsuarioResponse"/>
</operation>
<operation name="listaPropuestasUsu">
<input wsam:Action="http://webservices.culturarte/ControllerWS/listaPropuestasUsuRequest" message="tns:listaPropuestasUsu"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/listaPropuestasUsuResponse" message="tns:listaPropuestasUsuResponse"/>
</operation>
<operation name="listarUsuariosSeguir">
<input wsam:Action="http://webservices.culturarte/ControllerWS/listarUsuariosSeguirRequest" message="tns:listarUsuariosSeguir"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/listarUsuariosSeguirResponse" message="tns:listarUsuariosSeguirResponse"/>
</operation>
<operation name="listarUsuariosSiguiendo">
<input wsam:Action="http://webservices.culturarte/ControllerWS/listarUsuariosSiguiendoRequest" message="tns:listarUsuariosSiguiendo"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/listarUsuariosSiguiendoResponse" message="tns:listarUsuariosSiguiendoResponse"/>
</operation>
<operation name="ObtenerSeguidores">
<input wsam:Action="http://webservices.culturarte/ControllerWS/ObtenerSeguidoresRequest" message="tns:ObtenerSeguidores"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/ObtenerSeguidoresResponse" message="tns:ObtenerSeguidoresResponse"/>
</operation>
<operation name="obtenerUsuariosPorRanking">
<input wsam:Action="http://webservices.culturarte/ControllerWS/obtenerUsuariosPorRankingRequest" message="tns:obtenerUsuariosPorRanking"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/obtenerUsuariosPorRankingResponse" message="tns:obtenerUsuariosPorRankingResponse"/>
</operation>
<operation name="bajaProponente">
<input wsam:Action="http://webservices.culturarte/ControllerWS/bajaProponenteRequest" message="tns:bajaProponente"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/bajaProponenteResponse" message="tns:bajaProponenteResponse"/>
</operation>
<operation name="listaProponentesDeBaja">
<input wsam:Action="http://webservices.culturarte/ControllerWS/listaProponentesDeBajaRequest" message="tns:listaProponentesDeBaja"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/listaProponentesDeBajaResponse" message="tns:listaProponentesDeBajaResponse"/>
</operation>
<operation name="obtenerDTProponenteDeBaja">
<input wsam:Action="http://webservices.culturarte/ControllerWS/obtenerDTProponenteDeBajaRequest" message="tns:obtenerDTProponenteDeBaja"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/obtenerDTProponenteDeBajaResponse" message="tns:obtenerDTProponenteDeBajaResponse"/>
</operation>
<operation name="altaProponente">
<input wsam:Action="http://webservices.culturarte/ControllerWS/altaProponenteRequest" message="tns:altaProponente"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/altaProponenteResponse" message="tns:altaProponenteResponse"/>
</operation>
<operation name="addCategoria">
<input wsam:Action="http://webservices.culturarte/ControllerWS/addCategoriaRequest" message="tns:addCategoria"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/addCategoriaResponse" message="tns:addCategoriaResponse"/>
<fault message="tns:CategoriaDuplicadaException" name="CategoriaDuplicadaException" wsam:Action="http://webservices.culturarte/ControllerWS/addCategoria/Fault/CategoriaDuplicadaException"/>
</operation>
<operation name="addPropuesta">
<input wsam:Action="http://webservices.culturarte/ControllerWS/addPropuestaRequest" message="tns:addPropuesta"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/addPropuestaResponse" message="tns:addPropuestaResponse"/>
<fault message="tns:PropuestaDuplicadaException" name="PropuestaDuplicadaException" wsam:Action="http://webservices.culturarte/ControllerWS/addPropuesta/Fault/PropuestaDuplicadaException"/>
</operation>
<operation name="obtenerDTPropuesta">
<input wsam:Action="http://webservices.culturarte/ControllerWS/obtenerDTPropuestaRequest" message="tns:obtenerDTPropuesta"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/obtenerDTPropuestaResponse" message="tns:obtenerDTPropuestaResponse"/>
</operation>
<operation name="listarPropuestasEstado">
<input wsam:Action="http://webservices.culturarte/ControllerWS/listarPropuestasEstadoRequest" message="tns:listarPropuestasEstado"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/listarPropuestasEstadoResponse" message="tns:listarPropuestasEstadoResponse"/>
</operation>
<operation name="obtenerDineroRecaudado">
<input wsam:Action="http://webservices.culturarte/ControllerWS/obtenerDineroRecaudadoRequest" message="tns:obtenerDineroRecaudado"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/obtenerDineroRecaudadoResponse" message="tns:obtenerDineroRecaudadoResponse"/>
</operation>
<operation name="listarPropuestasFavoritas">
<input wsam:Action="http://webservices.culturarte/ControllerWS/listarPropuestasFavoritasRequest" message="tns:listarPropuestasFavoritas"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/listarPropuestasFavoritasResponse" message="tns:listarPropuestasFavoritasResponse"/>
</operation>
<operation name="listarPropuestasEstadoUsu">
<input wsam:Action="http://webservices.culturarte/ControllerWS/listarPropuestasEstadoUsuRequest" message="tns:listarPropuestasEstadoUsu"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/listarPropuestasEstadoUsuResponse" message="tns:listarPropuestasEstadoUsuResponse"/>
</operation>
<operation name="obtenerRecomendaciones">
<input wsam:Action="http://webservices.culturarte/ControllerWS/obtenerRecomendacionesRequest" message="tns:obtenerRecomendaciones"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/obtenerRecomendacionesResponse" message="tns:obtenerRecomendacionesResponse"/>
</operation>
<operation name="extenderFinanciacion">
<input wsam:Action="http://webservices.culturarte/ControllerWS/extenderFinanciacionRequest" message="tns:extenderFinanciacion"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/extenderFinanciacionResponse" message="tns:extenderFinanciacionResponse"/>
</operation>
<operation name="realizarColaboracion">
<input wsam:Action="http://webservices.culturarte/ControllerWS/realizarColaboracionRequest" message="tns:realizarColaboracion"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/realizarColaboracionResponse" message="tns:realizarColaboracionResponse"/>
<fault message="tns:PropuestaYaColaboradaException" name="PropuestaYaColaboradaException" wsam:Action="http://webservices.culturarte/ControllerWS/realizarColaboracion/Fault/PropuestaYaColaboradaException"/>
</operation>
<operation name="obtenerDTColaboracion">
<input wsam:Action="http://webservices.culturarte/ControllerWS/obtenerDTColaboracionRequest" message="tns:obtenerDTColaboracion"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/obtenerDTColaboracionResponse" message="tns:obtenerDTColaboracionResponse"/>
</operation>
<operation name="listarColaboraciones">
<input wsam:Action="http://webservices.culturarte/ControllerWS/listarColaboracionesRequest" message="tns:listarColaboraciones"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/listarColaboracionesResponse" message="tns:listarColaboracionesResponse"/>
</operation>
<operation name="eliminarColaboracion">
<input wsam:Action="http://webservices.culturarte/ControllerWS/eliminarColaboracionRequest" message="tns:eliminarColaboracion"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/eliminarColaboracionResponse" message="tns:eliminarColaboracionResponse"/>
</operation>
<operation name="obtenerTipoUser">
<input wsam:Action="http://webservices.culturarte/ControllerWS/obtenerTipoUserRequest" message="tns:obtenerTipoUser"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/obtenerTipoUserResponse" message="tns:obtenerTipoUserResponse"/>
</operation>
<operation name="autenticarUsuario">
<input wsam:Action="http://webservices.culturarte/ControllerWS/autenticarUsuarioRequest" message="tns:autenticarUsuario"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/autenticarUsuarioResponse" message="tns:autenticarUsuarioResponse"/>
</operation>
<operation name="obtenerCategorias">
<input wsam:Action="http://webservices.culturarte/ControllerWS/obtenerCategoriasRequest" message="tns:obtenerCategorias"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/obtenerCategoriasResponse" message="tns:obtenerCategoriasResponse"/>
</operation>
<operation name="guardarImagen">
<input wsam:Action="http://webservices.culturarte/ControllerWS/guardarImagenRequest" message="tns:guardarImagen"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/guardarImagenResponse" message="tns:guardarImagenResponse"/>
</operation>
<operation name="obtenerImagen">
<input wsam:Action="http://webservices.culturarte/ControllerWS/obtenerImagenRequest" message="tns:obtenerImagen"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/obtenerImagenResponse" message="tns:obtenerImagenResponse"/>
</operation>
<operation name="buscarPropuestasTDL">
<input wsam:Action="http://webservices.culturarte/ControllerWS/buscarPropuestasTDLRequest" message="tns:buscarPropuestasTDL"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/buscarPropuestasTDLResponse" message="tns:buscarPropuestasTDLResponse"/>
</operation>
<operation name="registrarAcceso">
<input wsam:Action="http://webservices.culturarte/ControllerWS/registrarAccesoRequest" message="tns:registrarAcceso"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/registrarAccesoResponse" message="tns:registrarAccesoResponse"/>
</operation>
<operation name="listDTRegistroAcceso">
<input wsam:Action="http://webservices.culturarte/ControllerWS/listDTRegistroAccesoRequest" message="tns:listDTRegistroAcceso"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/listDTRegistroAccesoResponse" message="tns:listDTRegistroAccesoResponse"/>
</operation>
<operation name="listDTColaboracionUser">
<input wsam:Action="http://webservices.culturarte/ControllerWS/listDTColaboracionUserRequest" message="tns:listDTColaboracionUser"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/listDTColaboracionUserResponse" message="tns:listDTColaboracionUserResponse"/>
</operation>
<operation name="pagarColaboracion">
<input wsam:Action="http://webservices.culturarte/ControllerWS/pagarColaboracionRequest" message="tns:pagarColaboracion"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/pagarColaboracionResponse" message="tns:pagarColaboracionResponse"/>
</operation>
<operation name="mandarMail">
<input wsam:Action="http://webservices.culturarte/ControllerWS/mandarMailRequest" message="tns:mandarMail"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/mandarMailResponse" message="tns:mandarMailResponse"/>
</operation>
<operation name="listarPropuestasProponentes">
<input wsam:Action="http://webservices.culturarte/ControllerWS/listarPropuestasProponentesRequest" message="tns:listarPropuestasProponentes"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/listarPropuestasProponentesResponse" message="tns:listarPropuestasProponentesResponse"/>
</operation>
<operation name="listarPropuestasProponentesIngresadas">
<input wsam:Action="http://webservices.culturarte/ControllerWS/listarPropuestasProponentesIngresadasRequest" message="tns:listarPropuestasProponentesIngresadas"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/listarPropuestasProponentesIngresadasResponse" message="tns:listarPropuestasProponentesIngresadasResponse"/>
</operation>
<operation name="cambiarEstadoPropuestaIngresada">
<input wsam:Action="http://webservices.culturarte/ControllerWS/cambiarEstadoPropuestaIngresadaRequest" message="tns:cambiarEstadoPropuestaIngresada"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/cambiarEstadoPropuestaIngresadaResponse" message="tns:cambiarEstadoPropuestaIngresadaResponse"/>
</operation>
<operation name="listarPropuestas">
<input wsam:Action="http://webservices.culturarte/ControllerWS/listarPropuestasRequest" message="tns:listarPropuestas"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/listarPropuestasResponse" message="tns:listarPropuestasResponse"/>
</operation>
<operation name="modPropuesta">
<input wsam:Action="http://webservices.culturarte/ControllerWS/modPropuestaRequest" message="tns:modPropuesta"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/modPropuestaResponse" message="tns:modPropuestaResponse"/>
</operation>
<operation name="cambiarEstadoPropuesta">
<input wsam:Action="http://webservices.culturarte/ControllerWS/cambiarEstadoPropuestaRequest" message="tns:cambiarEstadoPropuesta"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/cambiarEstadoPropuestaResponse" message="tns:cambiarEstadoPropuestaResponse"/>
</operation>
<operation name="hacerComentario">
<input wsam:Action="http://webservices.culturarte/ControllerWS/hacerComentarioRequest" message="tns:hacerComentario"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/hacerComentarioResponse" message="tns:hacerComentarioResponse"/>
</operation>
<operation name="comentarioExiste">
<input wsam:Action="http://webservices.culturarte/ControllerWS/comentarioExisteRequest" message="tns:comentarioExiste"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/comentarioExisteResponse" message="tns:comentarioExisteResponse"/>
</operation>
<operation name="favoritarPropuesta">
<input wsam:Action="http://webservices.culturarte/ControllerWS/favoritarPropuestaRequest" message="tns:favoritarPropuesta"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/favoritarPropuestaResponse" message="tns:favoritarPropuestaResponse"/>
</operation>
<operation name="propuestaYaFavorita">
<input wsam:Action="http://webservices.culturarte/ControllerWS/propuestaYaFavoritaRequest" message="tns:propuestaYaFavorita"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/propuestaYaFavoritaResponse" message="tns:propuestaYaFavoritaResponse"/>
</operation>
<operation name="actualizarEstado">
<input wsam:Action="http://webservices.culturarte/ControllerWS/actualizarEstadoRequest" message="tns:actualizarEstado"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/actualizarEstadoResponse" message="tns:actualizarEstadoResponse"/>
</operation>
<operation name="calcularPuntajePropuesta">
<input wsam:Action="http://webservices.culturarte/ControllerWS/calcularPuntajePropuestaRequest" message="tns:calcularPuntajePropuesta"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/calcularPuntajePropuestaResponse" message="tns:calcularPuntajePropuestaResponse"/>
</operation>
<operation name="actualizarPuntajes">
<input wsam:Action="http://webservices.culturarte/ControllerWS/actualizarPuntajesRequest" message="tns:actualizarPuntajes"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/actualizarPuntajesResponse" message="tns:actualizarPuntajesResponse"/>
</operation>
<operation name="listaPropuestasUsuDeBaja">
<input wsam:Action="http://webservices.culturarte/ControllerWS/listaPropuestasUsuDeBajaRequest" message="tns:listaPropuestasUsuDeBaja"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/listaPropuestasUsuDeBajaResponse" message="tns:listaPropuestasUsuDeBajaResponse"/>
</operation>
<operation name="obtenerDTPropuestaDeBaja">
<input wsam:Action="http://webservices.culturarte/ControllerWS/obtenerDTPropuestaDeBajaRequest" message="tns:obtenerDTPropuestaDeBaja"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/obtenerDTPropuestaDeBajaResponse" message="tns:obtenerDTPropuestaDeBajaResponse"/>
</operation>
<operation name="obtenerDineroRecaudadoDeBaja">
<input wsam:Action="http://webservices.culturarte/ControllerWS/obtenerDineroRecaudadoDeBajaRequest" message="tns:obtenerDineroRecaudadoDeBaja"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/obtenerDineroRecaudadoDeBajaResponse" message="tns:obtenerDineroRecaudadoDeBajaResponse"/>
</operation>
<operation name="obtenerColaboradoresColaboracion">
<input wsam:Action="http://webservices.culturarte/ControllerWS/obtenerColaboradoresColaboracionRequest" message="tns:obtenerColaboradoresColaboracion"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/obtenerColaboradoresColaboracionResponse" message="tns:obtenerColaboradoresColaboracionResponse"/>
</operation>
<operation name="constanciaEmitida">
<input wsam:Action="http://webservices.culturarte/ControllerWS/constanciaEmitidaRequest" message="tns:constanciaEmitida"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/constanciaEmitidaResponse" message="tns:constanciaEmitidaResponse"/>
</operation>
<operation name="forzarGeneracionTarjeta">
<input wsam:Action="http://webservices.culturarte/ControllerWS/forzarGeneracionTarjetaRequest" message="tns:forzarGeneracionTarjeta"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/forzarGeneracionTarjetaResponse" message="tns:forzarGeneracionTarjetaResponse"/>
</operation>
<operation name="forzarGeneracionTransferencia">
<input wsam:Action="http://webservices.culturarte/ControllerWS/forzarGeneracionTransferenciaRequest" message="tns:forzarGeneracionTransferencia"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/forzarGeneracionTransferenciaResponse" message="tns:forzarGeneracionTransferenciaResponse"/>
</operation>
<operation name="forzarGeneracionPaypal">
<input wsam:Action="http://webservices.culturarte/ControllerWS/forzarGeneracionPaypalRequest" message="tns:forzarGeneracionPaypal"/>
<output wsam:Action="http://webservices.culturarte/ControllerWS/forzarGeneracionPaypalResponse" message="tns:forzarGeneracionPaypalResponse"/>
</operation>
</portType>
<binding name="ControllerWSPortBinding" type="tns:ControllerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NickRepetidoException">
<soap:fault name="NickRepetidoException" use="literal"/>
</fault>
<fault name="EmailRepetidoException">
<soap:fault name="EmailRepetidoException" use="literal"/>
</fault>
<fault name="BadPasswordException">
<soap:fault name="BadPasswordException" use="literal"/>
</fault>
</operation>
<operation name="listarColaboradores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDTColaborador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerPropuestasColaboradas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProponentes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDTProponente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarColaboracionesColaborador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="seguirUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dejarDeSeguirUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaPropuestasUsu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUsuariosSeguir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUsuariosSiguiendo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerSeguidores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerUsuariosPorRanking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bajaProponente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaProponentesDeBaja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDTProponenteDeBaja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="altaProponente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CategoriaDuplicadaException">
<soap:fault name="CategoriaDuplicadaException" use="literal"/>
</fault>
</operation>
<operation name="addPropuesta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PropuestaDuplicadaException">
<soap:fault name="PropuestaDuplicadaException" use="literal"/>
</fault>
</operation>
<operation name="obtenerDTPropuesta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPropuestasEstado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDineroRecaudado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPropuestasFavoritas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPropuestasEstadoUsu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerRecomendaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="extenderFinanciacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="realizarColaboracion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PropuestaYaColaboradaException">
<soap:fault name="PropuestaYaColaboradaException" use="literal"/>
</fault>
</operation>
<operation name="obtenerDTColaboracion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarColaboraciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarColaboracion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerTipoUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="autenticarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarImagen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerImagen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPropuestasTDL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarAcceso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listDTRegistroAcceso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listDTColaboracionUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pagarColaboracion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mandarMail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPropuestasProponentes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPropuestasProponentesIngresadas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarEstadoPropuestaIngresada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPropuestas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modPropuesta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarEstadoPropuesta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hacerComentario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comentarioExiste">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="favoritarPropuesta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="propuestaYaFavorita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarEstado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calcularPuntajePropuesta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarPuntajes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaPropuestasUsuDeBaja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDTPropuestaDeBaja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDineroRecaudadoDeBaja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerColaboradoresColaboracion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="constanciaEmitida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="forzarGeneracionTarjeta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="forzarGeneracionTransferencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="forzarGeneracionPaypal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ControllerWS">
<port name="ControllerWSPort" binding="tns:ControllerWSPortBinding">
<soap:address location="http://localhost:9128/ControllerWS"/>
</port>
</service>
</definitions>
