web/src/wsdl/localhost_9128/culturarteWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><xs:schema xmlns:tns="http://webservices.culturarte/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.culturarte/">

<xs:element name="BadPasswordException" type="tns:BadPasswordException"/>

<xs:element name="CategoriaDuplicadaException" type="tns:CategoriaDuplicadaException"/>

<xs:element name="EmailRepetidoException" type="tns:EmailRepetidoException"/>

<xs:element name="NickRepetidoException" type="tns:NickRepetidoException"/>

<xs:element name="ObtenerSeguidores" type="tns:ObtenerSeguidores"/>

<xs:element name="ObtenerSeguidoresResponse" type="tns:ObtenerSeguidoresResponse"/>

<xs:element name="PropuestaDuplicadaException" type="tns:PropuestaDuplicadaException"/>

<xs:element name="PropuestaYaColaboradaException" type="tns:PropuestaYaColaboradaException"/>

<xs:element name="actualizarEstado" type="tns:actualizarEstado"/>

<xs:element name="actualizarEstadoResponse" type="tns:actualizarEstadoResponse"/>

<xs:element name="actualizarPuntajes" type="tns:actualizarPuntajes"/>

<xs:element name="actualizarPuntajesResponse" type="tns:actualizarPuntajesResponse"/>

<xs:element name="addCategoria" type="tns:addCategoria"/>

<xs:element name="addCategoriaResponse" type="tns:addCategoriaResponse"/>

<xs:element name="addPropuesta" type="tns:addPropuesta"/>

<xs:element name="addPropuestaResponse" type="tns:addPropuestaResponse"/>

<xs:element name="addUsuario" type="tns:addUsuario"/>

<xs:element name="addUsuarioResponse" type="tns:addUsuarioResponse"/>

<xs:element name="altaProponente" type="tns:altaProponente"/>

<xs:element name="altaProponenteResponse" type="tns:altaProponenteResponse"/>

<xs:element name="autenticarUsuario" type="tns:autenticarUsuario"/>

<xs:element name="autenticarUsuarioResponse" type="tns:autenticarUsuarioResponse"/>

<xs:element name="bajaProponente" type="tns:bajaProponente"/>

<xs:element name="bajaProponenteResponse" type="tns:bajaProponenteResponse"/>

<xs:element name="buscarPropuestasTDL" type="tns:buscarPropuestasTDL"/>

<xs:element name="buscarPropuestasTDLResponse" type="tns:buscarPropuestasTDLResponse"/>

<xs:element name="calcularPuntajePropuesta" type="tns:calcularPuntajePropuesta"/>

<xs:element name="calcularPuntajePropuestaResponse" type="tns:calcularPuntajePropuestaResponse"/>

<xs:element name="cambiarEstadoPropuesta" type="tns:cambiarEstadoPropuesta"/>

<xs:element name="cambiarEstadoPropuestaIngresada" type="tns:cambiarEstadoPropuestaIngresada"/>

<xs:element name="cambiarEstadoPropuestaIngresadaResponse" type="tns:cambiarEstadoPropuestaIngresadaResponse"/>

<xs:element name="cambiarEstadoPropuestaResponse" type="tns:cambiarEstadoPropuestaResponse"/>

<xs:element name="comentarioExiste" type="tns:comentarioExiste"/>

<xs:element name="comentarioExisteResponse" type="tns:comentarioExisteResponse"/>

<xs:element name="constanciaEmitida" type="tns:constanciaEmitida"/>

<xs:element name="constanciaEmitidaResponse" type="tns:constanciaEmitidaResponse"/>

<xs:element name="dejarDeSeguirUsuario" type="tns:dejarDeSeguirUsuario"/>

<xs:element name="dejarDeSeguirUsuarioResponse" type="tns:dejarDeSeguirUsuarioResponse"/>

<xs:element name="eliminarColaboracion" type="tns:eliminarColaboracion"/>

<xs:element name="eliminarColaboracionResponse" type="tns:eliminarColaboracionResponse"/>

<xs:element name="extenderFinanciacion" type="tns:extenderFinanciacion"/>

<xs:element name="extenderFinanciacionResponse" type="tns:extenderFinanciacionResponse"/>

<xs:element name="favoritarPropuesta" type="tns:favoritarPropuesta"/>

<xs:element name="favoritarPropuestaResponse" type="tns:favoritarPropuestaResponse"/>

<xs:element name="guardarImagen" type="tns:guardarImagen"/>

<xs:element name="guardarImagenResponse" type="tns:guardarImagenResponse"/>

<xs:element name="hacerComentario" type="tns:hacerComentario"/>

<xs:element name="hacerComentarioResponse" type="tns:hacerComentarioResponse"/>

<xs:element name="listDTColaboracionUser" type="tns:listDTColaboracionUser"/>

<xs:element name="listDTColaboracionUserResponse" type="tns:listDTColaboracionUserResponse"/>

<xs:element name="listDTRegistroAcceso" type="tns:listDTRegistroAcceso"/>

<xs:element name="listDTRegistroAccesoResponse" type="tns:listDTRegistroAccesoResponse"/>

<xs:element name="listaProponentesDeBaja" type="tns:listaProponentesDeBaja"/>

<xs:element name="listaProponentesDeBajaResponse" type="tns:listaProponentesDeBajaResponse"/>

<xs:element name="listaPropuestasUsu" type="tns:listaPropuestasUsu"/>

<xs:element name="listaPropuestasUsuDeBaja" type="tns:listaPropuestasUsuDeBaja"/>

<xs:element name="listaPropuestasUsuDeBajaResponse" type="tns:listaPropuestasUsuDeBajaResponse"/>

<xs:element name="listaPropuestasUsuResponse" type="tns:listaPropuestasUsuResponse"/>

<xs:element name="listarCategorias" type="tns:listarCategorias"/>

<xs:element name="listarCategoriasResponse" type="tns:listarCategoriasResponse"/>

<xs:element name="listarColaboraciones" type="tns:listarColaboraciones"/>

<xs:element name="listarColaboracionesColaborador" type="tns:listarColaboracionesColaborador"/>

<xs:element name="listarColaboracionesColaboradorResponse" type="tns:listarColaboracionesColaboradorResponse"/>

<xs:element name="listarColaboracionesResponse" type="tns:listarColaboracionesResponse"/>

<xs:element name="listarColaboradores" type="tns:listarColaboradores"/>

<xs:element name="listarColaboradoresResponse" type="tns:listarColaboradoresResponse"/>

<xs:element name="listarProponentes" type="tns:listarProponentes"/>

<xs:element name="listarProponentesResponse" type="tns:listarProponentesResponse"/>

<xs:element name="listarPropuestas" type="tns:listarPropuestas"/>

<xs:element name="listarPropuestasEstado" type="tns:listarPropuestasEstado"/>

<xs:element name="listarPropuestasEstadoResponse" type="tns:listarPropuestasEstadoResponse"/>

<xs:element name="listarPropuestasEstadoUsu" type="tns:listarPropuestasEstadoUsu"/>

<xs:element name="listarPropuestasEstadoUsuResponse" type="tns:listarPropuestasEstadoUsuResponse"/>

<xs:element name="listarPropuestasFavoritas" type="tns:listarPropuestasFavoritas"/>

<xs:element name="listarPropuestasFavoritasResponse" type="tns:listarPropuestasFavoritasResponse"/>

<xs:element name="listarPropuestasProponentes" type="tns:listarPropuestasProponentes"/>

<xs:element name="listarPropuestasProponentesIngresadas" type="tns:listarPropuestasProponentesIngresadas"/>

<xs:element name="listarPropuestasProponentesIngresadasResponse" type="tns:listarPropuestasProponentesIngresadasResponse"/>

<xs:element name="listarPropuestasProponentesResponse" type="tns:listarPropuestasProponentesResponse"/>

<xs:element name="listarPropuestasResponse" type="tns:listarPropuestasResponse"/>

<xs:element name="listarUsuarios" type="tns:listarUsuarios"/>

<xs:element name="listarUsuariosResponse" type="tns:listarUsuariosResponse"/>

<xs:element name="listarUsuariosSeguir" type="tns:listarUsuariosSeguir"/>

<xs:element name="listarUsuariosSeguirResponse" type="tns:listarUsuariosSeguirResponse"/>

<xs:element name="listarUsuariosSiguiendo" type="tns:listarUsuariosSiguiendo"/>

<xs:element name="listarUsuariosSiguiendoResponse" type="tns:listarUsuariosSiguiendoResponse"/>

<xs:element name="mandarMail" type="tns:mandarMail"/>

<xs:element name="mandarMailResponse" type="tns:mandarMailResponse"/>

<xs:element name="modPropuesta" type="tns:modPropuesta"/>

<xs:element name="modPropuestaResponse" type="tns:modPropuestaResponse"/>

<xs:element name="obtenerCategorias" type="tns:obtenerCategorias"/>

<xs:element name="obtenerCategoriasResponse" type="tns:obtenerCategoriasResponse"/>

<xs:element name="obtenerColaboradoresColaboracion" type="tns:obtenerColaboradoresColaboracion"/>

<xs:element name="obtenerColaboradoresColaboracionResponse" type="tns:obtenerColaboradoresColaboracionResponse"/>

<xs:element name="obtenerDTColaboracion" type="tns:obtenerDTColaboracion"/>

<xs:element name="obtenerDTColaboracionResponse" type="tns:obtenerDTColaboracionResponse"/>

<xs:element name="obtenerDTColaborador" type="tns:obtenerDTColaborador"/>

<xs:element name="obtenerDTColaboradorResponse" type="tns:obtenerDTColaboradorResponse"/>

<xs:element name="obtenerDTProponente" type="tns:obtenerDTProponente"/>

<xs:element name="obtenerDTProponenteDeBaja" type="tns:obtenerDTProponenteDeBaja"/>

<xs:element name="obtenerDTProponenteDeBajaResponse" type="tns:obtenerDTProponenteDeBajaResponse"/>

<xs:element name="obtenerDTProponenteResponse" type="tns:obtenerDTProponenteResponse"/>

<xs:element name="obtenerDTPropuesta" type="tns:obtenerDTPropuesta"/>

<xs:element name="obtenerDTPropuestaDeBaja" type="tns:obtenerDTPropuestaDeBaja"/>

<xs:element name="obtenerDTPropuestaDeBajaResponse" type="tns:obtenerDTPropuestaDeBajaResponse"/>

<xs:element name="obtenerDTPropuestaResponse" type="tns:obtenerDTPropuestaResponse"/>

<xs:element name="obtenerDineroRecaudado" type="tns:obtenerDineroRecaudado"/>

<xs:element name="obtenerDineroRecaudadoDeBaja" type="tns:obtenerDineroRecaudadoDeBaja"/>

<xs:element name="obtenerDineroRecaudadoDeBajaResponse" type="tns:obtenerDineroRecaudadoDeBajaResponse"/>

<xs:element name="obtenerDineroRecaudadoResponse" type="tns:obtenerDineroRecaudadoResponse"/>

<xs:element name="obtenerPropuestasColaboradas" type="tns:obtenerPropuestasColaboradas"/>

<xs:element name="obtenerPropuestasColaboradasResponse" type="tns:obtenerPropuestasColaboradasResponse"/>

<xs:element name="obtenerRecomendaciones" type="tns:obtenerRecomendaciones"/>

<xs:element name="obtenerRecomendacionesResponse" type="tns:obtenerRecomendacionesResponse"/>

<xs:element name="obtenerTipoUser" type="tns:obtenerTipoUser"/>

<xs:element name="obtenerTipoUserResponse" type="tns:obtenerTipoUserResponse"/>

<xs:element name="obtenerUsuariosPorRanking" type="tns:obtenerUsuariosPorRanking"/>

<xs:element name="obtenerUsuariosPorRankingResponse" type="tns:obtenerUsuariosPorRankingResponse"/>

<xs:element name="pagarColaboracion" type="tns:pagarColaboracion"/>

<xs:element name="pagarColaboracionResponse" type="tns:pagarColaboracionResponse"/>

<xs:element name="propuestaYaFavorita" type="tns:propuestaYaFavorita"/>

<xs:element name="propuestaYaFavoritaResponse" type="tns:propuestaYaFavoritaResponse"/>

<xs:element name="realizarColaboracion" type="tns:realizarColaboracion"/>

<xs:element name="realizarColaboracionResponse" type="tns:realizarColaboracionResponse"/>

<xs:element name="registrarAcceso" type="tns:registrarAcceso"/>

<xs:element name="registrarAccesoResponse" type="tns:registrarAccesoResponse"/>

<xs:element name="seguirUsuario" type="tns:seguirUsuario"/>

<xs:element name="seguirUsuarioResponse" type="tns:seguirUsuarioResponse"/>

<xs:complexType name="altaProponente">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaProponenteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenerTipoUser">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerTipoUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarProponentes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarProponentesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarImagen">
<xs:sequence>
<xs:element name="bytesImagen" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarImagenResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDineroRecaudado">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDineroRecaudadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDTColaboracion">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDTColaboracionResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtColaboracion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtColaboracion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenerPropuestasColaboradas">
<xs:sequence>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerPropuestasColaboradasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDTPropuestaDeBaja">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDTPropuestaDeBajaResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtPropuesta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtPropuesta">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarUsuariosSiguiendo">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarUsuariosSiguiendoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comentarioExiste">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="nombreColaborador" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comentarioExisteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="favoritarPropuesta">
<xs:sequence>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="favoritarPropuestaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenerDTColaborador">
<xs:sequence>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDTColaboradorResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtColaborador" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtColaborador">
<xs:complexContent>
<xs:extension base="tns:dtUsuario">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dtUsuario" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarPropuestasProponentes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarPropuestasProponentesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDineroRecaudadoDeBaja">
<xs:sequence>
<xs:element name="tituloProp" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDineroRecaudadoDeBajaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autenticarUsuario">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:unsignedShort" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autenticarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seguirUsuario">
<xs:sequence>
<xs:element name="nickSegui" type="xs:string" minOccurs="0"/>
<xs:element name="nickUsu" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seguirUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:resultadoSeguirUsuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pagarColaboracion">
<xs:sequence>
<xs:element name="dtPago" type="tns:dtPago" minOccurs="0"/>
<xs:element name="idColab" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtPago">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="pagarColaboracionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenerDTProponente">
<xs:sequence>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDTProponenteResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtProponente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtProponente">
<xs:complexContent>
<xs:extension base="tns:dtUsuario">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="obtenerCategorias">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenerCategoriasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarColaboracion">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarColaboracionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="constanciaEmitida">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="constanciaEmitidaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarPropuestasEstadoUsu">
<xs:sequence>
<xs:element name="estado" type="xs:int"/>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPropuestasEstadoUsuResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarColaboradores">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarColaboradoresResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dejarDeSeguirUsuario">
<xs:sequence>
<xs:element name="nickSegui" type="xs:string" minOccurs="0"/>
<xs:element name="nickSiguiendo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dejarDeSeguirUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:resultadoSeguirUsuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarEstadoPropuesta">
<xs:sequence>
<xs:element name="tituloProp" type="xs:string" minOccurs="0"/>
<xs:element name="estProp" type="tns:estadoPropuesta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarEstadoPropuestaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="modPropuesta">
<xs:sequence>
<xs:element name="prop" type="tns:dtPropuesta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modPropuestaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listaPropuestasUsuDeBaja">
<xs:sequence>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaPropuestasUsuDeBajaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUsuario">
<xs:sequence>
<xs:element name="user" type="tns:dtUsuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUsuarioResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="NickRepetidoException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EmailRepetidoException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BadPasswordException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarEstado">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="actualizarEstadoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarPropuestasProponentesIngresadas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarPropuestasProponentesIngresadasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerColaboradoresColaboracion">
<xs:sequence>
<xs:element name="tituloProp" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerColaboradoresColaboracionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listDTColaboracionUser">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listDTColaboracionUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtColaboracion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarUsuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDTProponenteDeBaja">
<xs:sequence>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDTProponenteDeBajaResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtProponente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="propuestaYaFavorita">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="propuestaYaFavoritaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarCategorias">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarCategoriasResponse">
<xs:sequence>
<xs:element name="return" type="tns:defaultMutableTreeNode" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="defaultMutableTreeNode">
<xs:sequence>
<xs:element name="allowsChildren" type="xs:boolean"/>
<xs:element name="userObject" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mandarMail">
<xs:sequence>
<xs:element name="dtMail" type="tns:dtMail" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtMail">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="mandarMailResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="bajaProponente">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bajaProponenteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="registrarAcceso">
<xs:sequence>
<xs:element name="dataRegistro" type="tns:dtRegistroAcceso" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtRegistroAcceso">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="registrarAccesoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="extenderFinanciacion">
<xs:sequence>
<xs:element name="tituloProp" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="extenderFinanciacionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="addCategoria">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="nombrePadre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCategoriaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="CategoriaDuplicadaException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarColaboracionesColaborador">
<xs:sequence>
<xs:element name="nickColab" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarColaboracionesColaboradorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaProponentesDeBaja">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listaProponentesDeBajaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPropuesta">
<xs:sequence>
<xs:element name="prop" type="tns:dtPropuesta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPropuestaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="PropuestaDuplicadaException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDTPropuesta">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerDTPropuestaResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtPropuesta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaPropuestasUsu">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaPropuestasUsuResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="realizarColaboracion">
<xs:sequence>
<xs:element name="nickColab" type="xs:string" minOccurs="0"/>
<xs:element name="tituloProp" type="xs:string" minOccurs="0"/>
<xs:element name="montoColab" type="xs:float"/>
<xs:element name="tipoRetorno" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="realizarColaboracionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="PropuestaYaColaboradaException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcularPuntajePropuesta">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcularPuntajePropuestaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cambiarEstadoPropuestaIngresada">
<xs:sequence>
<xs:element name="tituloProp" type="xs:string" minOccurs="0"/>
<xs:element name="estProp" type="tns:estadoPropuesta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarEstadoPropuestaIngresadaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ObtenerSeguidores">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ObtenerSeguidoresResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarColaboraciones">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarColaboracionesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerRecomendaciones">
<xs:sequence>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerRecomendacionesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPropuestas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarPropuestasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listDTRegistroAcceso">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listDTRegistroAccesoResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtRegistroAcceso" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hacerComentario">
<xs:sequence>
<xs:element name="comentario" type="xs:string" minOccurs="0"/>
<xs:element name="nombreColaborador" type="xs:string" minOccurs="0"/>
<xs:element name="tituloProp" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hacerComentarioResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="actualizarPuntajes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="actualizarPuntajesResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="buscarPropuestasTDL">
<xs:sequence>
<xs:element name="patron" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarPropuestasTDLResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtPropuesta" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPropuestasFavoritas">
<xs:sequence>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPropuestasFavoritasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarUsuariosSeguir">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarUsuariosSeguirResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPropuestasEstado">
<xs:sequence>
<xs:element name="estado" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPropuestasEstadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerUsuariosPorRanking">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenerUsuariosPorRankingResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="resultadoSeguirUsuario">
<xs:restriction base="xs:string">
<xs:enumeration value="EXITO"/>
<xs:enumeration value="ERROR"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="estadoPropuesta">
<xs:restriction base="xs:string">
<xs:enumeration value="INGRESADA"/>
<xs:enumeration value="PUBLICADA"/>
<xs:enumeration value="EN_FINANCIACION"/>
<xs:enumeration value="FINANCIADA"/>
<xs:enumeration value="NO_FINANCIADA"/>
<xs:enumeration value="CANCELADA"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>